ISA: add advice for designated expert

Requested by Murray Kucherawy:

> The shepherd writeup says:
>
> "None of the IANA registries require Designated Expert Review."
>
> But this isn't quite correct, as [RFC 8126](https://datatracker.ietf.org/doc/rfc8126/) says a Specification Required registry requires designated experts and strongly prefers the inclusion of guidance to them, and section 7.1 refers to parts of that registry have a Specification Required policy.  Please clarify.

David Vernet and I discussed and he will work on some text for Murray’s discuss.

I pointed to RFC 9053 section 10.4 as one good example, and the last paragraph of section 7 of RFC 7203
as another example, both of which are for Specification Required registries.


My apologies for the delay, things got much busier last week than anticipated. I'm working on this now and will ping you as soon as it's ready.

Send to Dave over email. Proposed text:

The IANA registries established by [<our RFC>] are informed by written specifications, which themselves are facilitated and approved by an Expert Review [RFC8126] process. Designated Experts are expected to consult with the active BPF working group (e.g. via email to the working group’s mailing list), if it exists, as well as other interested parties (e.g. via email to one or more active mailing list(s) for relevant BPF communities and platforms). The Designed Expert is expected to verify that the encoding and semantics for any new instructions are properly documented in a public-facing specification. In the event of future RFC documents for ISA extensions, experts may permit early assignment before the RFC document is available, as long as a specification exists which satisfies the above requirements.

Fixed in draft -04